* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* display flex immer auf den Eltern Container anwenden */

.flex__selection {
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  /* justify-content bezieht sich immer auf die Main Axis */
  justify-content: flex-start;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: flex-end;
  justify-content: space-evenly;
  /* align-items bezieht sich immer auf die Cross Axis */
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  /* flex-direction: column; */
}

/* .flex__selection div {
  height: 50px;
  width: 50px;
} */

/* align-self damit können wir flex-items für bestimmte vor der Ausrichtung im Eltern Container ändern */

/* .flex__selection div:nth-of-type(1) {
  order: 2;
  align-self: flex-start;
  background-color: blue;
} */

/* .flex__selection div:nth-of-type(2) {
  order: 1;
  background-color: red;
} */

/* .flex__selection div:nth-of-type(3) {
  order: 4;
  background-color: rgb(9, 255, 0);
} */

/* .flex__selection div:nth-of-type(4) {
  order: 3;
  background-color: rgb(0, 217, 255);
  align-self: flex-end;
} */

/* main {
  width: 100vw;
  height: 200px;
  display: flex;
}

main div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

main div:nth-of-type(2) {
  flex-shrink: 2;
  border: 2px solid red;
}

main div:nth-of-type(1) {
  flex-basis: 400px;
}

main div:nth-of-type(3) {
  flex-basis: 50px;
} */

/* main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

main section {
  border: 2px solid yellow;
}

main section img {
  width: 100px;
  height: 100px;
  margin: 5px;
} */

/* gap ist wie margin in einem normalem ohne Display Flex */

/* main ul {
  border: 2px solid green;
  flex-direction: row;
  display: flex;
  gap: 10px;
  justify-content: center;
} */

/* 
main ul li {
  margin: 2px;
  border: 1px solid red;
  list-style: none;
} */


