main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.transform div {
  height: 80px;
  width: 80px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 1s 0.1s ease-out;
  
  /* transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in; */
}

.transform div:hover {
  color: blue;
  background-color: green;
}
