/* Globale Einstellungen für die Textauswahl */
/* ! kann auch für einzelne Elemente angewendet werden */
*::selection{
    color: rgb(43, 0, 255);
    background-color: rgb(255, 234, 0);
}

/* Glattes Scroll-Verhalten für das ganze Dokument */
html{
    scroll-behavior: smooth;
}

/* Entfernen der Listensymbole und globale Styling-Regeln für Listenelemente */
li{
    list-style: none;
}

/* Globale Textfarbe für Paragrafen */
p{
    color: blue;
}

/* Styling für Links und deren Zustände */
a{
    text-decoration: none;
    margin: 15px;
}
a:active{
    color: rgb(0, 255, 17);
}

/* Pseudo-Elemente für besondere Effekte */
/* Erster Buchstabe von h1 wird groß und rot angezeigt */
h1::first-letter{
    font-size: 60px;
    color: red;
}

/* Hinzufügen von Symbolen vor und nach jedem Listeneintrag */
article li::after{
    content: "🌞";
}
article li::before{
    content: "👽";
}

/* Erste Zeile eines Absatzes in einem section-Tag */
section p::first-line{
    font-size: 40px;
    color: red;
}

/* Spezielles Styling für Paragrafen mit Klasse p__bgPurple */
.p__bgPurple{
   background-color: purple;
}

/* Spezielles Styling für Paragrafen mit Klasse p__fontSize */
.p__fontSize{
    font-size: 50px;
    background-color: rgb(0, 128, 113);
}

/* Button-Styling */
button{
    width: 100px;
    background-color: deeppink;
    border: none;
    color: white;
    padding: 16px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

/* Styling für das Bildcontainer-Element */
.show__img{
    max-width: 300px;
    margin: 0 auto;
}

/* Standardmäßig wird das Bild nicht angezeigt */
.show__img img{
    display: none;
    margin: 20px;
}

/* Änderung des Button-Hintergrundfarbe beim Hovern */
button:hover{
    background-color: blue;
}

/* Anzeige des Bildes, wenn über den Button gehovert wird */
button:hover + div img{
    display: block;
}

/* Styling für Elemente mit Klasse bg__img */
.bg__img{
    background-image: url("../img/photo-1569081156361-c98e05e7f1e4.avif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    border: 0.5px solid black;
}

/* Vollbildhöhe für Sektionen, um das Scrollen zu demonstrieren */
#section__one, #section__two, #section__three {
    height: 100vh;
}

/* Individuelle Hintergrundfarben für die verschiedenen Sektionen */
#section__one{
    background-color: violet;
}
#section__two{
    background-color: rgb(148, 130, 238);
}
#section__three{
    background-color: rgb(130, 238, 204);
}
