/* 
In diesem Beispiel werden die Variablen $primary-color und $secondary-color, 
die in _variables.scss definiert sind, in variables.scss importiert und in anderen Stilen im Projekt verwendet.
*/


$main-color: #8000ff;
$main-margin:10vh 0 0 0;
$main-btnMargin:2vh 0 0 0;

$main-h3Size:2rem;

/* ====== P Tag Style */
$default-font-size: 1rem;
$max-width: 50vw;
$text-align: center;
$default-margin: 2vh 0;