* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  /* Units % px vw vh oder am besten fr */
  /* fr => fraction */
  /* fraction ist 1 Anteil am noch verfügbaren Platz am Grid-Container */
  grid-template-columns: 30% 30% 30%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 30vh 200px 300px;
}

/* section > * {
  border: 1px solid red;
} */

/* Verzichten */
/* div {
    width: 300px;
    height: 600px;
} */


/* grid-column-start: 1;
grid-column-end: 3; */
/* 


.box1 {
  background-color: crimson;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.box2 {
  background-color: blue;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.box3 {
  background-color: yellow;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.box4 {
  background-color: salmon;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.box5 {
  background-color: green;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.box6 {
    background-color: tomato;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
} */

.box1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: aquamarine;
}

.box2 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: red;
}

.box3 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-color: brown;
}

.box4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background-color: beige;
}

.box5 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: pink;
}

.box6 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  background-color: violet;
}

/* ! Display Grid mit template-area */

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "Batman Batman Aquaman Aquaman"
    "Batman Batman Ironman Hulk"
    "Superman Thor Ironman Hulk"
    "Superwoman . Ironman Redpool";
  gap: 10px;
}



.container2 {
  background-color: blue;
  grid-area: Aquaman;
}

.container3 {
  background-color: red;
  grid-area: Redpool;
}

.container4 {
  background-color: black;
  grid-area: Superman;
}


.container1 {
  background-color: green;
  grid-area: Batman;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container5 {
  background-color: chocolate;
  grid-area: Ironman;
  display: grid;
  /* justify-items: center;
  align-items: center; */
  /* shortcut => place-items */
  place-items: center center;
  /*
  place-self: center;
  align-self: start; */
}

.container6 {
  background-color: yellow;
  grid-area: Hulk;
}

.container7 {
  background-color: aquamarine;
  grid-area: Thor;
}

.container8 {
  background-color: deeppink;
  grid-area: Superwoman;
}

/* body {
  display: grid;
  grid-template-columns: 90vw 10vw;
  grid-template-rows: 50px 80vh 20vh;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

header {
  background-color: peru;
  grid-area: header;
}

main {
  background-color: blue;
  grid-area: main;
}

aside {
  background-color: brown;
  grid-area: aside;
}

footer {
  background-color: blueviolet;
  grid-area: footer;
} */
