
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

h2:nth-of-type(2) {
  font-weight: 100;
  line-height: 0;
  margin-left: 26px;
  margin-bottom: 10px;
}

h3 {
  font-size: 3rem;
}

p{
  font-size: 1.2rem;
}

header {
    background-color: rgb(242, 255, 0);
    position: sticky;
    top: 0px; 

    left: 0; 
    right: 0;
}

  
nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: deeppink; 
  padding: 0 15px;
}

nav div {
  padding: 0 15px;
}
  
a {
    color: deeppink; 
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 1.5rem;
}
  

/* ----------- HERO SECTION ----------- */

.hero__section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color:  rgb(20, 25, 65);
}

.hero__section div {
    width: 50vw;
    padding: 30px;
    color: rgb(141, 151, 155);
}

.hero__section img {
    width: 100%
}

.mobile__image{
    display: none;
}
  

/* ! Media Queries */
/* ? Handy ab 576px */
/* ? Tablet ab 768px */
/* ? Desktop ab 992px */

@media only screen and (max-width: 768px){
    h1{
        font-size: 5rem;
        color: deeppink;
    }
    h2{
        font-size: 3rem;
    }
    .hero__section{
        flex-direction: column;
        padding: 30px 40px;
    }
    .hero__section div{
        width: auto; 
    }
    .hero__section .image{
        display: none;
    }
    .hero__section .mobile__image{
        display: block;
        max-width: 100%;
    }
    

}
  
  
  